@media only screen and (min-width: 281px) and (max-width: 768px) {
    body {
        padding-top: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .petar_picture {
        max-width: 250px;
        width: 100%;
        height: auto;
        border-color: black;
        margin: 0px;
        border: rgb(216, 213, 213) 1px solid;
        box-shadow: rgba(112, 110, 110, 0.35) 0px 5px 15px;
    }
        
    .petar_bild {
        margin: 0px;
        padding-bottom: -20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .hero {
        max-width: 200px;
        margin-bottom: 60px;
    }

    h4{
        font-size: 15px;
        max-width: 300px;
        margin: 0px;
    }

    .middle {
        display: none;
    }
    
    .icons {
        margin-top: 40px;
    }
    
    .bild_icons,
    .bild_icons_github {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    h5 {
        font-size: 30px;
    }

    .contact_me_button {
        width: 150px;
    }
    
    .tindog {
        margin: 0px;
        color: #6666ff;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .name_project {
        margin-top: 20px;
    }
     .form_img {
        margin: 0px;
    }

    .img_register {
        margin: 0;
    }
    
    .name {
        color: #000;
    }

    .nav-menu {
        z-index: 2;
        position: 58px;
        padding: 0px;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        background-color: rgba(10, 10, 10, 0.7);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .container_info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .information_container {
        margin: 20px;
    }

    .certificates {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }
     
    .text-media {
        margin-top: 40px;
    }

   .icon_name {
        display: none;
   }

    .html_icon {
        margin: 0px;
        padding: 20px;
    }

    .project_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 20px 0px 0px 0px;
    }

    .project_img {
        width:100%;
        height:auto;
    }
    .about_title {
        margin-bottom: 0px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1075px) {
    
    .nav-menu {
        z-index: 2;
        position: 58px;
        padding: 0px;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        background-color: rgba(10, 10, 10, 0.7);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .icons {
        margin-bottom: 65px;
    }

    h5 {
        margin-top: 50px;
        margin-bottom: 50px;
        color: #0f1012;
        font-size: 35px;
        font-weight: 800;
        text-align: center;
    }

    .certificates_name {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container_info, .reveal {
        align-items: center;
        margin: 0px;
        display: flex;
    }
    
    .home_section {
        padding-top: 120px;
    }
    .name {
        color: #000;
    }

    .project_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .project_img {
        width:100%;
        height:auto;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .hero {
        max-width: 200px;
        margin: auto;
    }

    .tindog_text {
        font-weight: 500;
        text-align: left;
        width: 400px;
    }
    .petar_bild {
        padding-bottom: -20px;
        margin: 0px;
        }
    .petar_picture {
        margin: 0px;
    }
    
    .name_project {
        margin-top: 40px;
    }
}
